.card {
    border: 1px solid #ea0707;
    border-radius: 10px;
    box-shadow: 5px 2px 10px black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.cardImg {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
}